<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RewardItemGrantRecordMapper">
  <resultMap id="BaseResultMap" type="com.entity.RewardItemGrantRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="reward_id" jdbcType="BIGINT" property="rewardId" />
    <result column="reward_num" jdbcType="VARCHAR" property="rewardNum" />
    <result column="dispense_time" jdbcType="TIMESTAMP" property="dispenseTime" />
    <result column="receive_status" jdbcType="TINYINT" property="receiveStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reward_item_grant_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.entity.RewardItemGrantRecord" useGeneratedKeys="true">
    insert into reward_item_grant_record (user_id, reward_id, reward_num, 
      dispense_time, receive_status, create_time, 
      update_time)
    values (#{userId,jdbcType=BIGINT}, #{rewardId,jdbcType=BIGINT}, #{rewardNum,jdbcType=VARCHAR}, 
      #{dispenseTime,jdbcType=TIMESTAMP}, #{receiveStatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.entity.RewardItemGrantRecord">
    update reward_item_grant_record
    set user_id = #{userId,jdbcType=BIGINT},
      reward_id = #{rewardId,jdbcType=BIGINT},
      reward_num = #{rewardNum,jdbcType=VARCHAR},
      dispense_time = #{dispenseTime,jdbcType=TIMESTAMP},
      receive_status = #{receiveStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, reward_id, reward_num, dispense_time, receive_status, create_time, 
    update_time
    from reward_item_grant_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, reward_id, reward_num, dispense_time, receive_status, create_time, 
    update_time
    from reward_item_grant_record
  </select>
  <resultMap id="BaseResultMap" type="com.RewardItemGrantRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="reward_id" jdbcType="BIGINT" property="rewardId" />
    <result column="reward_num" jdbcType="VARCHAR" property="rewardNum" />
    <result column="dispense_time" jdbcType="TIMESTAMP" property="dispenseTime" />
    <result column="receive_status" jdbcType="TINYINT" property="receiveStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reward_item_grant_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.RewardItemGrantRecord" useGeneratedKeys="true">
    insert into reward_item_grant_record (user_id, reward_id, reward_num, 
      dispense_time, receive_status, create_time, 
      update_time)
    values (#{userId,jdbcType=BIGINT}, #{rewardId,jdbcType=BIGINT}, #{rewardNum,jdbcType=VARCHAR}, 
      #{dispenseTime,jdbcType=TIMESTAMP}, #{receiveStatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.RewardItemGrantRecord">
    update reward_item_grant_record
    set user_id = #{userId,jdbcType=BIGINT},
      reward_id = #{rewardId,jdbcType=BIGINT},
      reward_num = #{rewardNum,jdbcType=VARCHAR},
      dispense_time = #{dispenseTime,jdbcType=TIMESTAMP},
      receive_status = #{receiveStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, reward_id, reward_num, dispense_time, receive_status, create_time, 
    update_time
    from reward_item_grant_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, reward_id, reward_num, dispense_time, receive_status, create_time, 
    update_time
    from reward_item_grant_record
  </select>
  <resultMap id="BaseResultMap" type="com.dada.merchant.entity.RewardItemGrantRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="reward_id" jdbcType="BIGINT" property="rewardId" />
    <result column="reward_num" jdbcType="VARCHAR" property="rewardNum" />
    <result column="dispense_time" jdbcType="TIMESTAMP" property="dispenseTime" />
    <result column="receive_status" jdbcType="TINYINT" property="receiveStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reward_item_grant_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dada.merchant.entity.RewardItemGrantRecord" useGeneratedKeys="true">
    insert into reward_item_grant_record (user_id, reward_id, reward_num, 
      dispense_time, receive_status, create_time, 
      update_time)
    values (#{userId,jdbcType=BIGINT}, #{rewardId,jdbcType=BIGINT}, #{rewardNum,jdbcType=VARCHAR}, 
      #{dispenseTime,jdbcType=TIMESTAMP}, #{receiveStatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dada.merchant.entity.RewardItemGrantRecord">
    update reward_item_grant_record
    set user_id = #{userId,jdbcType=BIGINT},
      reward_id = #{rewardId,jdbcType=BIGINT},
      reward_num = #{rewardNum,jdbcType=VARCHAR},
      dispense_time = #{dispenseTime,jdbcType=TIMESTAMP},
      receive_status = #{receiveStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, reward_id, reward_num, dispense_time, receive_status, create_time, 
    update_time
    from reward_item_grant_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, reward_id, reward_num, dispense_time, receive_status, create_time, 
    update_time
    from reward_item_grant_record
  </select>
</mapper>