<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RewardPrizeRelationMapper">
  <resultMap id="BaseResultMap" type="com.entity.RewardPrizeRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="reward_id" jdbcType="BIGINT" property="rewardId" />
    <result column="prize_id" jdbcType="BIGINT" property="prizeId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reward_prize_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.entity.RewardPrizeRelation" useGeneratedKeys="true">
    insert into reward_prize_relation (reward_id, prize_id)
    values (#{rewardId,jdbcType=BIGINT}, #{prizeId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.entity.RewardPrizeRelation">
    update reward_prize_relation
    set reward_id = #{rewardId,jdbcType=BIGINT},
      prize_id = #{prizeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, reward_id, prize_id
    from reward_prize_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, reward_id, prize_id
    from reward_prize_relation
  </select>
  <resultMap id="BaseResultMap" type="com.RewardPrizeRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="reward_id" jdbcType="BIGINT" property="rewardId" />
    <result column="prize_id" jdbcType="BIGINT" property="prizeId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reward_prize_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.RewardPrizeRelation" useGeneratedKeys="true">
    insert into reward_prize_relation (reward_id, prize_id)
    values (#{rewardId,jdbcType=BIGINT}, #{prizeId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.RewardPrizeRelation">
    update reward_prize_relation
    set reward_id = #{rewardId,jdbcType=BIGINT},
      prize_id = #{prizeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, reward_id, prize_id
    from reward_prize_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, reward_id, prize_id
    from reward_prize_relation
  </select>
  <resultMap id="BaseResultMap" type="com.dada.merchant.entity.RewardPrizeRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="reward_id" jdbcType="BIGINT" property="rewardId" />
    <result column="prize_id" jdbcType="BIGINT" property="prizeId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reward_prize_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dada.merchant.entity.RewardPrizeRelation" useGeneratedKeys="true">
    insert into reward_prize_relation (reward_id, prize_id)
    values (#{rewardId,jdbcType=BIGINT}, #{prizeId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dada.merchant.entity.RewardPrizeRelation">
    update reward_prize_relation
    set reward_id = #{rewardId,jdbcType=BIGINT},
      prize_id = #{prizeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, reward_id, prize_id
    from reward_prize_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, reward_id, prize_id
    from reward_prize_relation
  </select>
</mapper>