<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RewardPrizeTypeMapper">
  <resultMap id="BaseResultMap" type="com.entity.RewardPrizeType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="prize_ inventory" jdbcType="INTEGER" property="prizeInventory" />
    <result column="prize_value" jdbcType="VARCHAR" property="prizeValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reward_prize_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.entity.RewardPrizeType" useGeneratedKeys="true">
    insert into reward_prize_type (prize_name, prize_type, icon_url, 
      "prize_ inventory", prize_value, create_time, 
      update_time)
    values (#{prizeName,jdbcType=VARCHAR}, #{prizeType,jdbcType=VARCHAR}, #{iconUrl,jdbcType=VARCHAR}, 
      #{prizeInventory,jdbcType=INTEGER}, #{prizeValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.entity.RewardPrizeType">
    update reward_prize_type
    set prize_name = #{prizeName,jdbcType=VARCHAR},
      prize_type = #{prizeType,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      "prize_ inventory" = #{prizeInventory,jdbcType=INTEGER},
      prize_value = #{prizeValue,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, prize_name, prize_type, icon_url, "prize_ inventory", prize_value, create_time, 
    update_time
    from reward_prize_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, prize_name, prize_type, icon_url, "prize_ inventory", prize_value, create_time, 
    update_time
    from reward_prize_type
  </select>
  <resultMap id="BaseResultMap" type="com.RewardPrizeType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="prize_ inventory" jdbcType="INTEGER" property="prizeInventory" />
    <result column="prize_value" jdbcType="VARCHAR" property="prizeValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reward_prize_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.RewardPrizeType" useGeneratedKeys="true">
    insert into reward_prize_type (prize_name, prize_type, icon_url, 
      "prize_ inventory", prize_value, create_time, 
      update_time)
    values (#{prizeName,jdbcType=VARCHAR}, #{prizeType,jdbcType=VARCHAR}, #{iconUrl,jdbcType=VARCHAR}, 
      #{prizeInventory,jdbcType=INTEGER}, #{prizeValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.RewardPrizeType">
    update reward_prize_type
    set prize_name = #{prizeName,jdbcType=VARCHAR},
      prize_type = #{prizeType,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      "prize_ inventory" = #{prizeInventory,jdbcType=INTEGER},
      prize_value = #{prizeValue,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, prize_name, prize_type, icon_url, "prize_ inventory", prize_value, create_time, 
    update_time
    from reward_prize_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, prize_name, prize_type, icon_url, "prize_ inventory", prize_value, create_time, 
    update_time
    from reward_prize_type
  </select>
  <resultMap id="BaseResultMap" type="com.dada.merchant.entity.RewardPrizeType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="prize_ inventory" jdbcType="INTEGER" property="prizeInventory" />
    <result column="prize_value" jdbcType="VARCHAR" property="prizeValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reward_prize_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dada.merchant.entity.RewardPrizeType" useGeneratedKeys="true">
    insert into reward_prize_type (prize_name, prize_type, icon_url, 
      "prize_ inventory", prize_value, create_time, 
      update_time)
    values (#{prizeName,jdbcType=VARCHAR}, #{prizeType,jdbcType=VARCHAR}, #{iconUrl,jdbcType=VARCHAR}, 
      #{prizeInventory,jdbcType=INTEGER}, #{prizeValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dada.merchant.entity.RewardPrizeType">
    update reward_prize_type
    set prize_name = #{prizeName,jdbcType=VARCHAR},
      prize_type = #{prizeType,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      "prize_ inventory" = #{prizeInventory,jdbcType=INTEGER},
      prize_value = #{prizeValue,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, prize_name, prize_type, icon_url, "prize_ inventory", prize_value, create_time, 
    update_time
    from reward_prize_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, prize_name, prize_type, icon_url, "prize_ inventory", prize_value, create_time, 
    update_time
    from reward_prize_type
  </select>
</mapper>